[submodule "third-party/stb"]
	path = third-party/stb
	url = https://github.com/nothings/stb.git
[submodule "third-party/rectpack2D"]
	path = third-party/rectpack2D
	url = https://github.com/TeamHypersomnia/rectpack2D.git
[submodule "third-party/utfcpp"]
	path = third-party/utfcpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "third-party/sdl2"]
	path = third-party/sdl2
	url = https://github.com/xeekworx/sdl2.git
[submodule "third-party/nanovg"]
	path = third-party/nanovg
	url = https://github.com/memononen/nanovg.git
